<div class="container">
  <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <input type="text" name="new-item-text" class="form-control" [(ngModel)]="newItemText"
        placeholder="Enter a new to-do" />
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" (click)="addNewItem()">
        Add Task
      </button>
    </div>
  </form>

  <div class="row mt-3">
    <div class="col-sm-6">
      <select class="form-select" [(ngModel)]="listFilter" (ngModelChange)="filterChanged($event)">
        <option value="0">All</option>
        <option value="1">Incomplete</option>
        <option value="2">Complete</option>
      </select>
    </div>
  </div>


  <div *ngIf="items.length === 0; else showItems">Your list is empty!</div>

  <ng-template #showItems>
    <ul class="todo-list">
      <li *ngFor="let item of visibleItems; let i = index">
        <div class="form-check">
          <label class="form-check-label">
            <input class="checkbox" type="checkbox" [checked]="item.complete" (change)="toggleComplete(item)" />
            {{ item.title }}
          </label>
          <button class="btn btn-danger btn-sm" (click)="deleteItem(i, item.id)">
            Delete
          </button>
        </div>
      </li>
    </ul>
  </ng-template>
</div>