<div class="container">

  <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label class="visually-hidden" for="specificSizeInputName">To-do Item</label>
      <input type="text" name="new-item-t ext" class="form-control" [(ngModel)]="newItemText">
    </div>
    <div class="col-auto">
      <button 
      type="submit"
      class="btn btn-primary"
      (click)="$event.preventDefault(); addNewItem()"
      >Add Item</button>
    </div>
  </form>

  <div *ngIf="items.length === 0; else showItems">
    Your list is empty!
  </div>
   
  <ng-template #showItems>
  <ul class="todo-list">
    <li *ngFor="let item of items; index as ii">
      <div class="form-check">
        <label class="form-check-label">
          <input 
          class="checkbox" 
          type="checkbox"
          [checked]="item.isComplete"
          [attr.data-index]="ii"
          (click)="toggleItem(item)"
          >
          {{ item.title }}
        </label>
      </div>
    </li>
  </ul>
  </ng-template>
</div>