<div class="row mt-3">
    <div class="col-sm-6">
      <select class="form-select" [(ngModel)]="listFilter" (ngModelChange)="filterChanged($event)">
        <option value="0">All</option>
        <option value="1">Incomplete</option>
        <option value="2">Complete</option>
      </select>
    </div>
  </div>
  
  <ul class="todo-list">
    <li *ngFor="let item of visibleItems; let i = index">
      <app-todo-item [item]="item" (toggle)="toggleComplete($event)" (delete)="deleteItem(i, $event)"></app-todo-item>
    </li>
  </ul>
  